<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <style>
        h4.comments {

            text-align: center;

        }


    </style>
    <!--
    Kool Store Template
    http://www.templatemo.com/preview/templatemo_428_kool_store
    -->
    <meta charset="utf-8">
    <title>Eric Stradlin's Smart Home</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/templatemo-misc.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">

    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


<header class="site-header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="top-header-left">
                        <a href="#">Sign Up</a>
                        <a href="#">Log In</a>
                    </div> <!-- /.top-header-left -->
                </div> <!-- /.col-md-6 -->
                <div class="col-md-6 col-sm-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div> <!-- /.social-icons -->
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.top-header -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-8">
                    <div class="logo">
                        <h1><a href="#">Eric Stradlin's Home</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-8 col-sm-6 col-xs-4">
                    <div class="main-menu">


                    </div> <!-- /.main-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.main-header -->
    <div class="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <div class="list-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="../AQI">AQI</a></li>
                            <li><a href="../temperature">Temperature</a></li>
                            <li><a href="../security">Security</a></li>

                        </ul>
                    </div> <!-- /.list-menu -->

                </div> <!-- /.col-md-6 -->
                <!-- NAV 平行层BAR-->
                <!-- /.list-menu -->


                <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div>
        <!-- /.container -->
    </div> <!-- /.main-nav -->
</header> <!-- /.site-header -->


<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title">
                <h2>Your Home Environment</h2>
            </div> <!-- /.section -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ aqi_data|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">Air Quality Index</a></h5>
                        <span class="price">Latest: {{aqi_list[0]}}  </span>
                        {% if aqi_list[0]<50 %}
                        <h5 style="color:limegreen;">Good</h5>
                        {%elif aqi_list[0]<150 %}
                        <h5 style="color:orangered;">Normal</h5>
                        {%else%}
                        <h5 style="color:orangered;">Bad</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ humi_data|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">Humidity</a></h5>
                        <span class="price">Latest: {{humi[0]}}</span>
                        {% if humi[0]<40 %}
                        <h5 style="color:#ddd425;">Dry</h5>
                        {%elif 40<humi[0]<75 %}
                        <h5 style="color:limegreen;">Normal</h5>
                        {%else%}
                        <h5 style="color:orangered;">Wet</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ tmp|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">Temperature</a></h5>
                        <span class="price">Latest: {{temp[0]}}</span>
                        {% if temp[0]<10 %}
                        <h5 style="color:darkblue;">Cold</h5>
                        {%elif 10<temp[0]<30 %}
                        <h5 style="color:limegreen;">Normal</h5>
                        {%else%}
                        <h5 style="color:red;">Hot</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <img src="/static/images/8557944_00_thumb.jpg" alt="">
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">Security Camera</a></h5>
                        <span class="price">$80.00</span>
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ pm25_data|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">PM2.5</a></h5>
                        <span class="price">Latest: {{pm25[0]}}</span>
                        {% if pm25[0]<70 %}
                        <h5 style="color:limegreen;">Good</h5>
                        {%elif 70<pm25[0]<120 %}
                        <h5 style="color:#ec971f;">Normal</h5>
                        {%else%}
                        <h5 style="color:red;">Bad</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ pm10_data|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">PM10</a></h5>
                        <span class="price">Latest: {{pm10[0]}}</span>
                        {% if pm10[0]<70 %}
                        <h5 style="color:limegreen;">Good</h5>
                        {%elif 71<pm10 [0]<120 %}
                        <h5 style="color:#ec971f;">Normal</h5>
                        {%else%}
                        <h5 style="color:red;">Bad</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ co_data|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">CO</a></h5>
                        <span class="price">Latest: {{co[0]}}</span>
                        {% if co[0]<9 %}
                        <h5 style="color:limegreen;">Good</h5>
                        {%elif 10< co[0]<25 %}
                        <h5 style="color:orangered;">Warning</h5>
                        {%else%}
                        <h5 style="color:red;">Dangerous</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        <embed type="image/svg+xml" src={{ co2_data|safe }} style=max-width:380px;/>
                    </div> <!-- /.product-thum -->
                    <div class="product-content">
                        <h5><a href="#">CO2</a></h5>
                        <span class="price">Latest: {{co2[0]}}</span>
                        {% if co2[0]<450 %}
                        <h5 style="color:limegreen;">Good</h5>
                        {%elif 450< co2[0]<1500 %}
                        <h5 style="color:orangered;">Warning</h5>
                        {%else%}
                        <h5 style="color:red;">Dangerous</h5>
                        {%endif%}
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item -->
            </div> <!-- /.col-md-3 -->
        </div>
        <h4 class="comments">[AQI<70 Good.]&&[AQI<120 Normal.]&&[AQI>120 Bad] </h4>
        <h4 class="comments">[HUMIDITY<30 Dry.]&&[HUMIDITY 30-75 Normal.]&&[HUMIDITY>75 Wet]</h4>
        <h4 class="comments">[TEMPERATURE<10 Cold ]&&[TEMPERATURE 11-30 Normal ]&&[TEMPERATURE>30 Hot]</h4>
        <h4 class="comments">[PM2.5<70 Good ]&&[PM2.5 71-120 Normal ]&&[PM2.5>120 Bad]</h4>
        <h4 class="comments">[PM10<70 Good ]&&[PM10 71-120 Normal ]&&[PM10>120 Bad]</h4>
        <h4 class="comments">[CO<9 Good ]&&[CO 10-25 Warning ]&&[CO>25 Dangerous]</h4>
        <h4 class="comments">[CO2<450 Good ]&&[CO2 450-1500 Warning ]&&[CO2>1500 Dangerous]</h4>

        <!-- /.row -->
    </div> <!-- /.container -->

</div> <!-- /.content-section -->


<footer class="site-footer">
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span>Copyright &copy; 2018 <a href="#">Internet of Things Project</a></span>
                    <P>Made by Xiaoyang Wang(Eric Stradlin)</P>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.bottom-footer -->
</footer>
<<!-- /.site-footer -->


<script src="/static/js/vendor/jquery-1.10.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
<script src="/static/js/jquery.easing-1.3.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>


</body>
</html>